.sigCanvas {
  background-color: #fff;
  cursor: crosshair;
}

.form-container {
    margin: 20px auto;
    width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    min-height: 110vh;
}
  
  .close-btn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;
  }
  
  .form-success {
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    color: #fff;
  }

  .form-success2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    color: #fff;
  }
  
  .form-content {
    padding-top: 50px;
    padding-bottom:50px;
    border-radius: 0 10px 10px 0;
    height: 100%;
    position: relative;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
  }

  .form-awaiting {
    border-radius: 10px;
    min-height: 110vh;
    background: linear-gradient(
      90deg,
      rgb(13, 91, 136) 0%,
      rgb(0, 174, 177) 100%
    );
  }

  .form-gotopanel {
    border-radius: 10px;
    min-height: 110vh;
    background: linear-gradient(
      90deg,
      rgb(13, 136, 64) 0%,
      rgb(0, 177, 53) 100%
    );
  }

  .form-content input, textarea {
    text-transform: uppercase;
  }

  

  ::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}
  

  
  .form-h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  
  
  .form-inputs {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0 !important;
    color: #f00e0e;
  }
  
  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  
  .form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
    text-transform: uppercase;
  }
  
  .form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  
  .btn-submit {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
  }
  
  .form-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  
  .form-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
  }

  .form-login {
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
    max-width: 500px !important;
  }